  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 86px;
    /* background-color: rgb(233, 233, 233); */
    /* border: 2px solid rgb(252, 46, 46); */
  }
  
  nav ul {
    display: flex;
    
    justify-content: center;
    /* border: 2px solid rgb(0, 160, 8); */
    margin-left: 6.25rem;
    /* border: 2px solid rgb(14, 0, 0); */
    /* background-color: #dfbe0021; */
  }
  
  nav ul li {
    list-style: none;
    margin: 0 20px;
    align-items: center;
    /* border: 1px solid black; */
    font-size: 17px;
    
  }
  .right{
    margin-left: 440px;
  }
  
  .right ul li a {
    text-decoration:none ;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    
    /* font-size: large;
     */
    color: rgb(20, 20, 20);
  }
  
  .right ul li a:hover {
    text-decoration: none;
    /* font-size: 2cm; */
    color: rgb(17, 0, 250);
    font-size: 1.062rem;
  }
  
  
  
  
  .left {
    /* font-size: 1.5rem; */
    /* background-color: #dfbd00; */
    width: 120px;
    /* padding: 10px 10px; */
    margin-left: -50px;
    /* box-shadow:0.15cm 8px 18px; */
    
  }
  .left img{
    height: 80px;
    margin-right: 375px;
    /* width: 150px; */
  }
